<!DOCTYPE html>
<html>
  <head>
    <title>HTML ALL TAGS</title>
  </head>
  <body>
    <h1>HTML ALL TAG</h1>
    <p>MY NAME IS SALMAN KHAN .</p>
    <p>
      This is a <br />
      paragraph with a line break.
    </p>
    <a href="https://www.w3schools.com">Visit W3Schools</a>
    <img src="img_girl.jpg" />
    <img src="img_girl.jpg" width="500" height="600" />
    <img src="img_girl.jpg" alt="Girl with a jacket" />
    <p style="color:red;">This is a red paragraph.</p>
    <p title="I'm a tooltip">This is a paragraph.</p>
    <p><b>salman khan</b></p>
    <h1>salman 1</h1>
    <h2>salman 2</h2>
    <h3>salman 3</h3>
    <h4>salman 4</h4>
    <h5>salman 5</h5>
    <h6>salman 6</h6>
    <h1 style="font-size:60px;">Heading 1</h1>
    <pre>
Salman 1
Salman 2
Salman 3
</pre
    >
    <h1 style="background-color:powderblue;">This is a heading</h1>
    <p style="background-color:tomato;">This is a paragraph.</p>
    <h1><b>HTML Formatting Elements</b></h1>
    <b>This text is bold</b>
    <strong>This text is important!</strong>
    <i>This text is italic</i>
    <em>This text is emphasized</em>
    <small>This is some smaller text.</small>
    <p>Do not forget to buy <mark>milk</mark> today.</p>
    <p>My favorite color is <del>blue</del> red.</p>
    <p>My favorite color is <del>blue</del> <ins>red</ins>.</p>
    <p>This is <sub>subscripted</sub> text.</p>
    <p>This is <sup>superscripted</sup> text.</p>
    <h1><b> HTML Quotation and Citation Elements</b></h1>
    <p>
      The <abbr title="World Health Organization">WHO</abbr> was founded in
      1948.
    </p>
    <address>
      Written by John Doe.<br />
      Visit us at:<br />
      Example.com<br />
      Box 564, Disneyland<br />
      USA
    </address>
    <bdo dir="rtl">This text will be written from right to left</bdo>
    <blockquote cite="http://www.worldwildlife.org/who/index.html">
      For 50 years, WWF has been protecting the future of nature.
    </blockquote>
    <p><cite>The Scream</cite> by Edvard Munch. Painted in 1893.</p>
    <p>
      WWF's goal is to:
      <q>Build a future where people live in harmony with nature.</q>
    </p>
    <h1><b>HTML Comment Tag</b></h1>
    <!-- This is a comment -->

    <h1><b>HTML colors</b></h1>
    <h1 style="background-color:Tomato;">Tomato</h1>
    <h1 style="background-color:Orange;">Orange</h1>
    <h1 style="background-color:DodgerBlue;">DodgerBlue</h1>
    <h1 style="background-color:MediumSeaGreen;">MediumSeaGreen</h1>
    <h1 style="background-color:Gray;">Gray</h1>
    <h1 style="background-color:SlateBlue;">SlateBlue</h1>
    <h1 style="background-color:Violet;">Violet</h1>
    <h1 style="background-color:LightGray;">LightGray</h1>

    <h3 style="color:Tomato;">Hello World</h3>

    <p style="color:DodgerBlue;">salman.</p>

    <p style="color:MediumSeaGreen;">salman.</p>

    <h1><b>HTML color values</b></h1>
    <h1 style="background-color:rgb(255, 99, 71);">...</h1>
    <h1 style="background-color:#ff6347;">...</h1>
    <h1 style="background-color:hsl(9, 100%, 64%);">...</h1>

    <h1 style="background-color:rgba(255, 99, 71, 0.5);">...</h1>
    <h1 style="background-color:hsla(9, 100%, 64%, 0.5);">...</h1>
    <map name="workmap">
      <area
        shape="rect"
        coords="34,44,270,350"
        alt="Computer"
        href="computer.htm"
      />
      <area
        shape="rect"
        coords="290,172,333,250"
        alt="Phone"
        href="phone.htm"
      />
      <area
        shape="circle"
        coords="337,300,44"
        alt="Cup of coffee"
        href="coffee.htm"
      />
    </map>
    <h4>Epcot Center</h4>
    <p>Epcot is a theme</p>
    <audio controls>
      <source src="horse.ogg" type="audio/ogg" />
      <source src="horse.mp3" type="audio/mpeg" />
    </audio>
    <ul>
      <li>User <bdi>hrefs</bdi>: 60 points</li>
      <li>User <bdi>jdoe</bdi>: 80 points</li>
      <li>User <bdi>إيان</bdi>: 90 points</li>
    </ul>
    <caption>
      Monthly savings
    </caption>
    <button type="button" onclick="alert('Hello world!')">Click Me!</button>
    <canvas id="myCanvas">Your browser does not support the canvas tag.</canvas>
    <caption>
      Monthly savings
    </caption>
    <p>The HTML <code>button</code> tag defines a clickable button.</p>
    <colgroup>
      <col span="2" style="background-color:red" />
      <col style="background-color:yellow" />
    </colgroup>
    <ul>
      <li><data value="21053">Cherry Tomato</data></li>
      <li><data value="21054">Beef Tomato</data></li>
      <li><data value="21055">Snack Tomato</data></li>
    </ul>
    <datalist id="browsers">
      <option value="Edge"></option>
      <option value="Firefox"></option>
      <option value="Chrome"></option>
      <option value="Opera"></option>
      <option value="Safari"></option>
    </datalist>

    <dl>
      <dt>Coffee</dt>
      <dd>Black hot drink</dd>
      <dt>Milk</dt>
      <dd>White cold drink</dd>
    </dl>
    <details>
      <summary>Epcot Center</summary>
    </details>
    <dfn>HTML</dfn>
    <dialog open>This is an open dialog window</dialog>
    <div class="myDiv">
      <h2>This is a heading in a div element</h2>
      <p>This is some text in a div element.</p>
    </div>
    <fieldset>
      <legend>Personalia:</legend>
      <label for="fname">First name:</label>
    </fieldset>
    <figure>
      <img src="pic_trulli.jpg" alt="Trulli" style="width:100%" />
      <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
    </figure>
    <footer>
      <p>Author: Hege Refsnes</p>
      <p><a href="mailto:hege@example.com">hege@example.com</a></p>
    </footer>
    <header>
      <h1>A heading here</h1>
      <p>Posted by John Doe</p>
      <p>Some additional information here</p>
    </header>
    <iframe
      src="https://www.w3schools.com"
      title="W3Schools Free Online Web Tutorials"
    ></iframe>
    <input type="text" id="fname" name="fname" /><br /><br />
    <p>Press <kbd>Cmd</kbd> + <kbd>C</kbd> to copy text (Mac OS).</p>
    <label for="html">HTML</label><br />
    <legend>Personalia:</legend>
    <ol>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ol>
    <nav>
      <a href="/html/">HTML</a> |
      <a href="/css/">CSS</a> |
      <a href="/js/">JavaScript</a> |
      <a href="/python/">Python</a>
    </nav>
    <noscript>Your browser does not support JavaScript!</noscript>
    <object data="pic_trulli.jpg" width="300" height="200"></object>
    <select id="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
    <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">
      <input type="range" id="a" value="50">
      +<input type="number" id="b" value="25">
      =<output name="x" for="a b"></output>
    </form>
    <object data="horse.wav">
    <param name="autoplay" value="true">
    </object>
    <picture>
      <source media="(min-width:650px)" srcset="img_pink_flowers.jpg">
      <source media="(min-width:465px)" srcset="img_white_flower.jpg">
      <img src="img_orange_flowers.jpg" alt="Flowers" style="width:auto;">
    </picture>
    <pre>salman</pre>
    <progress id="file" value="32" max="100"> 32% </progress>
    <ruby>
    Salman <rp>(</rp><rt>khan</rt><rp>)</rp>
    </ruby>
    <ruby>
    S<rt> k </rt>
    </ruby>
    <p><s>Only 50 tickets left!</s></p>
    <p>SOLD OUT!</p>
    <p><samp>File not found.<br>Press F1 to continue</samp></p>
    <script>
    document.getElementById("demo").innerHTML = "Hello JavaScript!";
    </script>
    <section>
    <h2>WWF History</h2>
    <p>The World Wide </p>
    </section>
    <select name="cars" id="cars">
      <option value="volvo">Volvo</option>
    </select>
    <p><small>This is some smaller text.</small></p>
    <audio controls>
      <source src="horse.ogg" type="audio/ogg">
      <source src="horse.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <p>My mother has <span style="color:blue">blue</span> eyes.</p>
    <strong>This text is important!</strong>
    <style>
      h1 {color:red;}
      p {color:blue;}
    </style>
    <svg width="100" height="100">
      <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
    </svg>
    <table>
      <tr>
        <th>Month</th>
        <th>Savings</th>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
      </tr>
    </table>
    <tbody>
        <tr>
          <td>January</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>February</td>
          <td>$80</td>
        </tr>
      </tbody>
    <tr>
        <td>Cell A</td>
        <td>Cell B</td>
      </tr>
    <template>
      <h2>Flower</h2>
      <img src="img_white_flower.jpg" width="214" height="204">
    </template>
    <textarea id="w3review" name="w3review" rows="4" cols="50">
    At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
    </textarea>
    <tfoot>
        <tr>
          <td>Sum</td>
          <td>$180</td>
        </tr>
      </tfoot>
    <tr>
        <th>Month</th>
        <th>Savings</th>
      </tr>
     <thead>
        <tr>
          <th>Month</th>
          <th>Savings</th>
        </tr>
      </thead>
    <p>I have a date on <time datetime="2008-02-14 20:00">Valentines day</time>.</p>
    <title>HTML Elements Reference</title>
    <table>
      <tr>
        <th>Month</th>
        <th>Savings</th>
      </tr>
      <tr>
        <td>January</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$80</td>
      </tr>
    </table>
    <p>This is some <u>mispeled</u> text.</p>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
    <p>The area of a triangle is: 1/2 x <var>b</var> x <var>h</var>, where <var>b</var> is the base, and <var>h</var> is the vertical height.</p>
    <video width="320" height="240" controls>
      <source src="movie.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    <p>This is a <wbr>salma<wbr> Khan
    </p>
  </body>
</html>
